
/* THIS AFFECTS ALL SUMMIT ADMIN, please use context - Santi :) */
/*.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    width: 20px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: 30px !important;
}*/

.error {
    border: 1px solid red;
    background-color: rgba(255,0,0,0.1);
}

.valid {
    border: 1px solid green;
    background-color: rgba(0,255,0,0.1);
}

.center_text {
    text-align: center;
}

/* DIRECTORY */

#create_summit .form-group {
    margin-right: 35px;
}

/* EDIT SUMMIT */

#SummitForm_SummitForm .bootstrap-tagsinput {
    margin-bottom: 0;
    display: block;
}

#SummitForm_SummitForm .bootstrap-tagsinput input{
    width: 10em;
}

#SummitForm_SummitForm .edit,.delete,.save,.update{
    cursor: pointer;
}

#SummitForm_SummitForm .edit:hover {
    color:deepskyblue;
}

#SummitForm_SummitForm .delete:hover {
    color:red;
}

#SummitForm_SummitForm .save:hover,.update:hover {
    color:green;
}

/* SCHEDULE FILTERS */

.unpublished-container label {
    width: 28%;
}

.published-container label {
    width: 18%;
}

#empty_spots_modal label {
    width: auto;
}

.unpublished-container .refresh_button_div {
    margin-top: 10px;
}

.unpublished-container .no_matches {
    margin-top: 30px;
}

.unpublished-events-refresh {
    width: 100%;
    height: 45px;
}

.unpublished-container .unpublished-events-list-container {
    height: 100%;
    margin-top: 20px;
}

.unpublished-container .unpublished-events-list {
    overflow-y: auto;
    height: 75%;
    position: relative;
}

.unpublished-events-list::-webkit-scrollbar {
    width: 8px;
}

.unpublished-events-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.unpublished-events-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.unpublished-container .items_per_page {
    margin: 10px 0;
    float:  right;
    width: 20%;
}

.unpublished-container .items_per_page .form-control {
    display: inline;
}

.unpublished-container .paginator {
    float: left;
    width: 80%;
}

#unpublished-events-pager {
    margin: 10px 0 20px 0;
}

/* SCHEDULE RESULTS */

.result-event-buttons {
    position: relative;
    right: 0px;
    width: 20px;
    float: right;
    top: -44px;
}

.result-event-buttons a {
    color: grey;
}

.result-event-buttons a:hover {
    color: black;
}

/* EDIT EVENT */

.edit-event-wrapper {
    width: 83%;
    margin-bottom: 100px;
}

.edit-event-wrapper #description {
    height: 300px;
}

.edit-event-wrapper .bootstrap-tagsinput {
    width: 100% !important;
}

/* ATTENDEES */

.attendees-wrapper {
    width: 83%;
}

#attendees-pager a {
    cursor: pointer;
}

/* EDIT ATTENDEES */

.edit-attendee-wrapper {
    width: 83%;
    margin-bottom: 100px;
}

.edit-attendee-wrapper input {
    width: 100%;
}

.edit-attendee-wrapper .bootstrap-tagsinput {
    width: 100% !important;
}

.ticket_member_container .bootstrap-tagsinput {
    width: 100% !important;
}

#member_error,#ticket_member_error {
    margin-top: 30px;
    color: red;
}

.location-venue
{
    font-size: 10pt !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.location-venue-room
{
    font-size: 8pt !important;
    padding-left: 20px !important;
}

.location-venue-room:before {
    content: "- ";
}

.event-status-component
{
    width: auto;
    float:left;
    cursor: pointer;
}