@font-face {
    font-family: 'Montserrat';
    src: url('/themes/openstack/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/themes/openstack/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

.container {
    font-family:'Montserrat' , sans-serif;
}

.header {
    background-color: #132539;
}

.header .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.speaker_name {
    font-size: 42px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.speaker_job_title {
    color: #C2C2C2;
    font-size: 18px;
}

.speaker_pic {
    width: 150px;
    float: left;
    margin: 0 15px 15px 0;
}

.global-search-div {
    top: -47px;
}

.section1 {
    border-bottom: 1px solid #C2C2C2;
    color: #4C4C4C;
}

.speaker_bio {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 50px;
    font-size: 18px;
}

.speaker_info {
    margin-top: 50px;
}

.info_item {
    clear: both;
    margin-bottom: 15px;
    height: 25px;
}

.info_item_icon {
    float: left;
    margin-right: 20px;
    width: 20px;
    text-align: center;
}

.irc_icon {
    background-color: #4C4C4C;
    color: white;
    border-radius: 10px;
    font-size: 8px;
    padding: 3px;
}

.sessions {
    color: #4C4C4C;
}

.sessions_title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.speaker-photo-big
{
    width: 140px;
    height: 140px;
}